/* 
  Author:   Javier S. Guerrero
  Date:     02/28/26

 styles for the course material product cards
  
*/

/* Course Material Cards used in Search resultss */
.CourseMaterialCard-input {
  position: absolute;
  opacity: 0;
}
.CourseMaterialCard-input:checked + .CourseMaterialCard-wrapper {
  border: 3px solid var(--brandColor-primary);
}
.CourseMaterialCard-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 12px;
  border: 1px solid var(--brandColor-primary-shade1);
  border-radius: 4px;
  cursor: pointer;
}
.CourseMaterialCard-image {
  flex-shrink: 0;
  flex-grow: 0;
  width: 120px;
  align-self: center;
}
.CourseMaterialCard-content {
  flex-grow: 1;
  display: flex;
  flex-wrap:nowrap;
  padding: 8px 0px;
}
.CourseMaterialCard-label {
  font-weight: bold;
  margin-right: 4px;
}
.CourseMaterialCard-status, .CourseMaterialCard-courseLabel, .CourseMaterialCard-additionalInfo {
  padding-left: 16px;
  flex-grow: 1;
}
.CourseMaterialCard-description {
  padding-left: 16px;
  flex-grow: 2;
}
/* Change Card styles for out of stock books */
.CourseMaterialCard.is-outOfStock .CourseMaterialCard-wrapper {
  cursor: initial;
}
.CourseMaterialCard.is-outOfStock .CourseMaterialCard-status {
  color: red;
}